.shapka{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.shapka a {
    margin: 25px 10px 0px 10px;
    text-decoration: none;
    color: black;

}
    

.osnova{
    background-color: darkseagreen;

}
.zagolovok{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;

}
.text{
     font-family: 'Open Sans', sans-serif;
    

}
.pip{
    border-radius: 14px;
    
    width: 120px;
    height: 40px;
    
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.pip a{
    text-decoration: none;
    color: black;
}
.pod{
    background-color: aquamarine;
    display: flex;
    
    justify-content: start;
    align-items: start;
    

}
.pod img {
    right: 20px;
    width: 60px;
}
.pod p {
    display: flex;
    float: right;
}
.od {
    width: 100px;
    right: 40px;
}